.chat-list {
    height: 85%;
}

.user-details
 {
    height: 100%;
    background-color: cyan;
    width: 100%;
}

.chat-details {
    height: 70px;
    background-color: #ededed;
    width: 100%;
}

.main-frame {
    height: 90vh;
    width: 90vw;
    justify-content: center;
    text-align: center;
    align-items: flex;
    position: absolute;
    display: flex;
    background-color: #ffffff;
}

.Home-page {
    background-color: #ffffff;
    height: 95%;
    width: 75%;
    position: absolute;
    margin-left: 12.5%;
    margin-top: 1%;
    align-items: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    border: 5px slategray;
    border-style: solid;
    border-radius: 20px;
  }

.contacts-list {
    height: 88%;
    width: 100%;
    overflow: scroll;
}

.contacts-list::-webkit-scrollbar {
    width: 5px
}

.contacts-list::-webkit-scrollbar-track {
    -webkit-box-shaow: inset 0 0 6px rgba(0,0,0,0.3);
}

.contacts-list::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
    outline: 1px solid slategray;
}

.header-right-size {
    background-color: #ededed;
}

.left-side {
    height: 100%; 
    width: 100%;
    background-color: gainsboro;
}